/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

@font-face {
  font-family: 'GOT';
  src: url('./style/GOT.ttf');
}

body {
  color: #111;
  font-family: GOT, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 250%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

#site-header {
  background-image: linear-gradient(grey, black);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style: none;
  align-items: center;
  
}

li a {
  text-decoration: none;
  color: whitesmoke;
}


.landing-page {
  display: grid;
  height: 95vh;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
  grid-template-areas:
    "main main main";
  gap: 10px;
  background-image: linear-gradient(black, grey);
}

@media (min-width: 400px) {
  .landing-page {
    grid-template-areas:
    "main main main";
  }
}

.title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-size: 2em;
  color: whitesmoke;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: round;
  background-size: 80%;
  animation: animate 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.subtitle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  justify-self: center;
  align-self: start;
  font-size: 1.3em;
  color: whitesmoke;
  letter-spacing: 2px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: round;
  background-size: 80%;
  animation: animate 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.loading {
  background-image: linear-gradient(black, grey);
  color: whitesmoke;
  font-size: 1em;
  text-align: center;
}

.houses-header {
  display: grid;
  text-align: center;
  justify-self: center;
  align-self: center;
  color: whitesmoke;
  background-color: black;
  border: none;
}

.cards-container {
  display: grid;
  grid-auto-flow: dense;
  min-height: 100vh;
  height: auto;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "main main";
  gap: 10px;
  font-size: 0.9em;
  color: whitesmoke;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 2%;
  background-image: linear-gradient(black, grey, black);
  border: none;
  
}


@media (min-width: 400px) {
  cards-container {
    grid-template-areas:
    "main main";
  }
}
